$color-text: rgb(230, 230, 230);
$color-background: rgb(1, 0, 17);
$color-hover: rgba(20, 64, 69, 0.459);
$color-active: rgba(20, 75, 81, 0.959);
$color-table: rgba(10, 28, 30, 0.459);
$color-border: #00e5ff;
$border-radius: 8px;
